/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer ion-icon {
  pointer-events: none;
}

body {
  background-color:
  rgb(245, 245, 245);
  font-size: 16px;
  font-family: 'Space Grotesk', sans-serif;
  color: #110801;
  position: relative;
  top: 6em;
}

/* General rules */

.container {
  width: 95%;
  max-width: 1150px;
  margin: 0 auto;
}

/* HEADER AND NAVIGATION */

header {
  height: 13vh;
  display: flex;
  background-color: #FFCC33;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

header .container {
  display: flex;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  padding: .25em 0;
}

.header-logo {
  max-width: 170px;
  margin-top: .25em;
  margin-left: -3.4em;
}

.header-logo img {
}

.nav-lists {
  display: flex;
  flex-basis: 75%;
  max-width: 650px;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
}

/* CONTAINERS AND LANDING PAGE */

.mini-container {
  border-radius: .1em;
  padding: 1em;
  margin: 1em 0;
  background-color: #FFCC33;
  text-transform: capitalize;
  text-align: center;
  outline: 1px solid #a14d0e;
  outline-offset: -4px;
}

.lp-container > .mini-container {
  text-align: left;
  padding-left: 1em;
  width: 40%;
}

.landing-page > .mini-container {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-top: 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
}

.contact.landing-page {
  display: flex;
  flex-direction: column;
}

.landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
}

.lp-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.home .lp-container {
  height: auto;
}

.services .mini-container {
  margin: 0;
  text-align: left;
  font-weight: 700;
  font-size: 1.1rem;                 
}

.brand-info {
  margin: 2em auto 1rem;
}

.brands-container {
  display: flex;
  justify-content: space-evenly;
}

.brand-info > div:first-child {
  text-align: center;
}

.contact.mini-container {
  align-items: flex-start;
  width: 100%;
}

.mini-container.hidden {
  display: none;
}

.lp-image-container,
.lp-image-holder,
.slider-img {
  flex-basis: 45%;
}

.blog-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
}

.article-holder {
  margin: .75em auto;
  max-width: 800px;
  
}

.blog-wrapper .mini-container {
  width: 100%;
}

/* OTHER LAYOUT */

.check {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  border-radius: .1em;
  padding: 1em;
  text-transform: capitalize;
  margin: 0;
}

.main-description {
  margin-bottom: auto;
}

.about-text {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: stretch;
}

.test-text {
  margin: .15em 0;
}

.box-container, 
.services {
  display: flex;
  justify-content: space-between;
}

.services {
  margin: 6em auto;
}

.two .img-container,
.four .img-container {
  order: -1;
}

.service-container,
.contact-text {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.blog-box {
  padding: 1em 0;
  width: 32%;
}

.mini-box,
.contact-text {
  flex-basis: 50%;
  height: 200px;
}

.blog-section {
  margin-top: 2em;
}

.article-container {
  width: 60%;
}

#article {
  margin-bottom: 2em;
  background-color: white;
  box-shadow: 0px 0px 7px 2px rgb(219, 218, 218);
  padding: .75em;
}

aside {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  flex-basis: 35%;
  padding: .75em;
  border-radius: .2em;
  background-color: white;
  box-shadow: 0px 0px 7px 2px rgb(219, 218, 218);
}

.aside-img,
.new,
.old {
  margin-bottom: 2em;
}

.subscribe {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

footer {
  background-color: #FFCC33;
  margin: 2em 0 0;
  padding: 3em 0 2em;
}

.sm-icons {
  display: flex;
  width: 150px;
  justify-content: space-around;
}

.sm-link {
  padding: .5em .5em .2em;
  border-radius: 50%;
}

.footer-container {
  display: flex;
}

.footer-container .container {
  display: flex;
  justify-content: center;
}

.newsletter-container .container {
  display: flex;
  justify-content: space-between;
}

.newsletter-wrapper {
  width: 35%;
  margin-bottom: 1em;
}

.newsletter.form {
  width: 55%;
}

.top-container {
  text-align: center;
  padding: 1em 0 0;
}

/* Forms */

.sub-form {
  flex-grow: 0.9;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: flex;
  align-self: stretch;
}

.contact-form > div {
  width: 100%;
}

.message-box {
  padding-left: 1.5%;
  display: flex;
  flex-direction: column;
}

.btn-container {
  text-align: right;
}

.contact-form input,
.sign-up input,
textarea {
  display: block;
  width: 100%;
  max-width: 650px;
  height: 60px;
  margin: .3em 0 .85em;
}

.newsletter input {
  height: 60px;
  color: #110801;
  width: 100%;
  background: none;
  border: 2px solid #61220C;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  border-color:  black;
  transition: .3s;
}

.subscribe > .mini-container {
  font-size: 1.1rem;
  letter-spacing: .1em;
  flex-basis: 30%;
  font-weight: 600;
  padding: 1em 0;
}

input, 
textarea {
  width: 40%;
  padding: 0 .5em;
  height: 100%;
  background-color: whitesmoke;
  border: 2px solid #61220C;
  outline: none;
  font-size: 1rem;
}

footer input {
  margin-bottom: .5em;
}

textarea {
  height: 160px;
  width: 100%;
}

input::placeholder{
  color: black;
  font-size: .75rem;
}

.newsletter input::placeholder {
  color: #110801;
  font-weight: 900;
}

/* Links */

.nav-link,
.last-child,
.blog-link,
.btn {
  text-decoration: none;
  font-weight: 600;
}

.nav-link,
header .last-child {
  position: relative;
}

.current-page::before {
  content: '';
  background-color: #110801;
  position: absolute;
  bottom: -1.8em;
  left: 0;
  height: 4px;
  border-radius: 2px;
  width: 100%;
}

.last-child.current-page::before {
  bottom: -1.10em;
}

.nav-link:not(.current-page):hover {
  text-decoration: underline;
  transition: .3s;
}

.blog-link {
  color: #110801;
  display: block;
  margin-top: .5em;
  text-decoration: underline;
  width: max-content;
}

.article-text .blog-link {
  display: inline;
}

.article-link {
  text-decoration: none;
  line-height: 1.4;
}

.article-link:hover {
  text-decoration: underline;
}

.top {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.sm-icons {
  margin-top: .5em;
}

.sm-link ion-icon {
  font-size: 35px;
}

/* Navigation Drop down links */

header .resources {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 103px;
}

.dropdown {
  background-color: #FFCC33;
  position: absolute;
  top: 2.5em;
  width: 150px;
  transition: .3s ease-in;
  display: none;
}

.dropdown-toggle {
  display: block;
}

.dropdown li {
  list-style-type: none;
  margin:  0;
  border-radius: .3em;
}

.dropdown a {
  text-decoration: none;
  display: block;
  padding: .5em;
}

.dropdown li:hover {
  background-color: #FCA200;
}

.arrow-svg {
  cursor: pointer;
  margin-top: .2em;
  border-radius: .5em;
}

.arrow-svg:hover{
  transition: .3s;
}


.icon-up {
  margin-bottom: -10px;
  font-size: 35px;
}

/* Buttons */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: #110801;
  margin: 5px;
  transition: all 0.3s ease;
  border-radius: 100px;
}

button {
  flex-grow: 0.3;
  display: inline-block;
  height: 40px;
  border: none;
  min-width: max-content;
  cursor: pointer;
}

.last-child,
.btn {
  background-color: #110801;
  padding: .75rem 1.25rem;
  border-radius: .2em;
  color:#FFCC33;
}

.last-child:hover,
.btn:hover {
  transition: .3s;
  background-color: #FFCC33;
  color: #110801;
  outline: 1px solid #110801;
}

.about-text > .btn,
.service-container .btn {
  margin: auto 0 1em;
}

.btn,
footer .last-child {
  display: inline-block;
  margin: .5em 0;
  text-transform: capitalize;
  width: max-content;
}

.mini-container .btn {
  margin-right: auto;
  margin-left: auto;
}

.work {
  z-index: -99;
}

/* Typography */

header *,
footer *
{
  color: #110801;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  text-transform: capitalize;
}

.sign-up h3,
#article h3 {
  margin: .45em 0 .75em;
}

.new h3,
.old h3 {
  margin-bottom: 1em;
}

.article-paragraph {
  font-size: 1rem;
  margin: 1em 0;
}

.h3 {
  border-bottom: 2px solid #61220C;
  color: #110801;
  text-decoration: none;
}

.newsletter-wrapper h3 {
  margin: .35em 0 ;
  letter-spacing: .1em;
  font-weight: 800;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.contact-text h2,
.aside-img p {
  margin-top: 3%;
}

.main-heading {
  font-size: 3.3rem;
  margin-bottom: .3rem;
  line-height: 1em;
  letter-spacing: .1rem;
}

.main-info p:not(.main-description) {
  margin: .5em 0;
  line-height: 1.3;
  font-size: .85em;
}

.brand-info-p,
.blog-paragraph,
.mini-description,
.main-description,
.test-text p,
.article-paragraph {
  margin: 1em 0;
  line-height: 1.8;
}

.main-heading,
.main-info .main-description {
  text-transform: capitalize;
}

.blog-paragraph,
.blog-box p {
  font-size: .9rem;
}

.para {
  letter-spacing: 1px;
}

.solo-description {
  margin: 1em 0;
  line-height: 1.8;
  text-transform: capitalize;
}

.service-container p,
.contact-text p {
  margin: 3% 0 auto;
  max-width: 550px;
  line-height: 1.75em;
  text-transform: none;
}

span.main-span {
  margin-top: .4em;
  display: block;
  font-size: .85rem;
  text-transform: none;
  color: #61220C;
}

.strong,
label {
  font-weight: 800;
}

.top:hover {
  border-bottom: .1em solid #61220C;
}

/* Images */

.about-container > .lp-image-container {
  height: min-content;
}

.img-container{
  flex-basis: 39%;
}

.service-img {
  border-radius: 3.5em 0;
}

img,
.header-logo img {
  width: 100%;
}

.blog-img {
  border-radius: .3em .3em 0 0;
  margin-bottom: 1em;
  /* box-shadow: 0px 0px 7px 2px rgb(219, 218, 218); */
  box-shadow: 0px -5px 7px -1px rgb(219, 218, 218);
}

.lp-image {
  border-radius: 3.5em  0;
  padding: 3px;
  width: 40%;
}

.aside-img {
  text-transform: capitalize;
  text-align: center;
}

.overlay-img {
  background-image: url(/images/Princewill-Akuma---Close.jpg);
  height: 370px;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.slider-img > img,
.lp-image-container > img {
  border-radius: 3.3em 0;
}

.article-img {
  height: 300px;
}

.article-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top center;
}

.contact .lp-image-container {
  height: 450px;
}

.contact img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.absolute .lp-image-container {
  height: 450px;
}

@media (max-width: 1000px) {
  .absolute .lp-image-container {
    height: 360px;
  }
}

@media (max-width: 700px) {
  .absolute .lp-image-container {
    height: 260px;
  }
}

.absolute img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left top;
}

/* SWIPER FOR TESTIMONIAL CARDS */

.slider {
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  align-items: center;
}

.container2 {
  padding: 40px 0;
  width: 100%;
  max-width: 1250px;
  flex-basis: 49%;
  margin: 0;
}

.container1 {
  max-width: 1100px;
  width: 100%;
}

.slide-content,
.slide-img-content {
  margin: 0 25px;
  overflow: hidden;
  padding: .5em;
}

.card-wrapper {
  display: flex;
  align-items: center;
}

.first-container {
  flex-basis: 50%;
}

.card {
  background-color: #FFF;
  padding: .2em .5em;
  border-radius: .2em;
  box-shadow: 0px 0px 7px 2px rgb(219, 218, 218);
  min-height: 350px;
  display: flex;
  flex-direction: column;
}

.card .test-text  {
  padding: 1em;
}

.card p {
  margin-bottom: 1em ;
  line-height: 2;
}

img {
  width: 100%;
}

.swiper-navBtn {
  color: #FFCC33;
  transition: color 0.3s ease-in;
}

.swiper-navBtn:hover {
  color: hsl(16, 78%, 32%);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}

.swiper-button-next {
  right: 0;
  font-weight: bolder;
}

.swiper-button-prev {
  left: 0;
} 

.container2 .swiper-button-prev {
  display: none;
}

.swiper-pagination-bullet {
  background-color: #FFCC33;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #61220C;
}

@media screen and (max-width: 640px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn,
  .swiper-button-next {
    display: none;
  }
}

/* MEDIA QUERIES AND ANIMATIONS */

@media (min-width: 590px) {
  .services p {
    width: 95%;
    padding-left: 2%;
  }

  .blog-img {
    max-height: 240px;
  }

  .solo-description.hidden {
    display: none;
  }
}

/* Make the layout look not so horrible on tablet screens */

@media (max-width: 750px) and (min-width: 590px) {
  .main-heading {
    font-size: 2.5rem;
    margin-top: 1em;
  }

  .lp-container {
    justify-content: flex-start;
  }

  .main-description {
    margin: 0;
  }

  .service-container .mini-container {
    font-size: 1rem;
  }

  .services,
  .contact .mini-container {
    align-items: center;
  }

  .services .btn {
    font-size: .75rem;
  }
}

@media (max-width: 800px) {
  .mini-box,
  .contact-text {
    height: 90%;
  }
}

/* Mobile screens */


@media (max-width: 590px) {

  .landing-page,
  .brands-container,
  .testimonials,
  .box-container,
  .landing-page .mini-container,
  .subscribe,
  .services,
  .sub-form,
  .blog-wrapper,
  .slider,
  .flex {
    flex-direction: column;
  }

  .container > div,
  .landing-page.container,
  .about-container > div,
  .contact-text,
  .newsletter.form,
  .lp-image {
    width: 100%;
  }

  .landing-page.container > div:not(.lp-image-container),
  .contact-form {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  header+.home {
    margin-top: 5em;
  }

  .header-logo {
    margin-right: auto;
    margin-left: auto;
  }

  .check {
    flex-direction: column;
    position: relative;
  }

  .lp-container {
    padding: 1em 0;
    position: relative;
    bottom: 0;
    align-items: center;
    }

  .main-info {
    text-align: left;
  }

  .lp-image-container {
    background-color: rgb(245, 245, 245);
    order: -1;
    padding: 0;
    padding-bottom: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .absolute img {
    height: 400px;
  }

  .about-container {
    display: block;
  }

  .slide-container {
    padding-bottom: 30px;
    margin-bottom: 1.2em;
  }

  .swiper-slide {
    width: 180px;
  }

  .about-text{
    padding: 1em 0;
  }

  .blog-box {
    padding: .75em;
    margin: 1em 0;
    width: 100%;
    border-radius: .2em;
    background-color: white;
    box-shadow: 0px 0px 7px 2px rgb(219, 218, 218);
  }

  .card {
    margin: 0;
    min-height: auto;
  }

  .mini-box {
    width: 100%;
    text-align: center;
    padding: 1em;
  }

  .subscribe{
    display: block;
    margin: 2em 0;
  }

  .mini-container.hidden {
    order: -2;
    display: block;
  }

  .solo-description.hidden {
    display: block;
    text-align: center;
  }

  .absolute .mini-container:last-of-type,
  .lp-container .solo-description {
    display: none;
    position: fixed;
  }

  .one .img-container,
  .three .img-container {
    order: -1;
  }

  .service-container .mini-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 90%;
  }

  .services {
    position: relative;
    margin: 2em auto;
  }

  .arrow-svg {
    display: none;
  }

  header .resources {
    min-width: 0;
  }

  /* Forms */

  .sub-form {
    height: 100%;
  }

  .sub-form input{
    height: 60px;
  }

  input {
    width: 100%;
    margin: .5em 0;
  }

  .contact-form {
    display: block;
    margin: 1em auto;
  }

  .message-box {
    padding: 0;
  }

  /* Typography */

  .main-heading {
    font-size: 2rem;
    margin-bottom: .25em
  }

  .main-description {
    text-align: center;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 1em;
    margin-bottom: .35em;
  }

  h2 {
    font-size: 1.55rem;
  }

  .mini-box p {
    position: absolute;
    bottom: 0em;
    margin-right: 1.95em;
    line-height: 1.6;
  }

  .service-container p,
  .contact-text p {
    margin: 1em 0;
  }

  /* Buttons */

  .btn[type="submit"],
  .btn[type="reset"] {
    width: 100%;
  }

  /* HOVER RESETS */

  .last-child:hover,
  .btn:hover {
    background-color: #110801;
    color: #FFCC33;
    outline: none;
  }

  .btn:active,
  .last-child:active {
    color: white;
  }

  .nav-link:not(.current-page):hover {
    text-decoration: none;
  }

  input[type="text"]:hover,
  input[type="email"]:hover,
  textarea:hover {
    border-color:  #110801;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color:  rgb(96, 94, 94);
  }

  .dropdown li:hover {
    background-color: #FFCC33;
  }

  .top:hover {
    border: none;
  }

  /* Links */

  .current-page::before {
    bottom: -.5em;
  }

  /* Images */

  .slider-img > img,
  .slider-img,
  .service-img {
    border-radius: 0;
    background: none;
    outline: none;
    border: none;
  }
  
  .lp-image-container > img {
    border-radius: 0;
  }

  .lp-image {
    margin: 1em 0 7em;
    outline: 2px solid white;
    outline-offset: -4px;
    border-radius: 0;
  }

  .service-img {
    margin-top: 4em;
  }
  
  /* Footer */

  footer > div > .container {
    flex-direction: column;
  }

  .newsletter-container {
    text-align: center;
  }

  footer .container {
    width: 90%;
  }

  .footer-container .sm-icons {
    margin: 1em auto 0;
    justify-content: center;
  }
}

/* Media Queries for mobile sidebar */

@media (max-width: 590px) {
  body {
    overflow-x: hidden;
    position: relative;
    top: 0;
  }

  header .nav-lists {
    position: fixed;
    top: 13vh;
    width: 80%;
    max-width: 500px;
    height: 100%;
    left: -100%;
    background-color: #FFCC33;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.5s ease-in;
    box-shadow: 0px 2px 1px 1px #61220C;
  }

  header.openNav .nav-lists {
    left: 0;
  }

  .nav-lists li {
    opacity: 0;
    margin: 1.85em 0;
  }

  .burger {
    display: block;
    position: fixed;
    right: .5em;
  }
}

/* ANIMATIONS */

@keyframes navLinkFade {
  from{
      opacity: 0;
      transform: translateX(-50px);
  }

  to {
      opacity: 1;
      transform: translateX(0px);
  }
}


.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

